<h1>Formulario de contacto</h1>
<form action="" method="GET" enctype="text/plain">
    <label for="nombre">Nombre: </label><br>
    <input type="text" name="nombre"  id="nombre" placeholder="Nombre" ><br>

    <label for="apellido">Apellido: </label><br>
    <input type="text" name="apellido" id="apellido" placeholder="Apellido"><br>

    <label for="email">Correo electrónico: </label><br>
    <input type="email" name="email" id="email" placeholder="usuario@dominio.com"><br>

    <label for="mensaje">Mensaje: </label><br>
    <textarea name="mensaje" id="mensaje" placeholder="Deje aquí su mensaje"></textarea><br>

    <input type="submit" value="Enviar" id="enviar">
</form>
