<main>
<h1>QUIENES SOMOS</h1>
<P>Somos una Cooperativa de Trabajo que desde el año xxxx desarrolla prestaciones de servicios orientadas al sector -----.
Desde su creación, tenemos el objetivo permanente de generar trabajo. Para ello contamos con asociados formados en la industria, con gran experiencia, siendo uno de los activos que permite garantizar la eficacia en las tareas.
Otro activo es el cumplimiento del espíritu cooperativo, lo que ha permitido que nuestra empresa esté integrada por asociados que han encontrado un espacio para desarrollar sus conocimientos y su solidaridad.
El constante crecimiento basado en el desarrollo productivo y humano de nuestros asociados, y la permanente actualización tecnológica, hacen de nuestra cooperativa un sinónimo de excelencia y calidad.</P>

<h2>VISIÓN</h2>
<P> A través de un equipo de trabajo calificado, apoyado en la innovación tecnológica, buscamos brindar a nuestros clientes confianza y compromiso, apuntando a los más altos estándares de excelencia y eficiencia.</P>

<h2>MISIÓN</h2>
<UL>
    <LI>Integridad y honestidad</LI>
    <LI>Orientación al cliente</LI>
    <LI>Desempeño a través del equipo</LI>
    <LI>Profesionalismo</LI>
    <LI>Innovación </LI>
</UL>

</main>
